#main_header,.nav_header,.navbar_brand,.link_container,.nav_links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#main_header {
 height: 4rem;
}
#main_header .nav_header {
    width: 100vw;
    height: inherit;
    background-color: var(--headernavbarbg);
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    padding: 0 10%;
    position: fixed;
    z-index: 1200;
}
#main_header .nav_header .link_container .btn_header {
    background-color: var(--orangecolor);
}
#main_header .nav_header .link_container .btn_header:hover {
    transform: scale(98%);
}
#main_header .nav_header .navbar_brand:hover .text {
    fill: #FF5B35;
}
#main_header .nav_header .navbar_brand:hover .line {
    fill: #000;
}
.link_container .nav_links {
    display: flex;
    margin-left: 1rem;
}
.link_container .nav_links a {
    color: var(--headernavbarcolor);
    padding: 0 1rem;
}
.link_container .nav_links a:hover {
    color: var(--orangecolor);
}