/* ---------------------
notification_banner 
--------------------- */
#notification_banner {
    background: url(../image/web-banner.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    min-height: 3rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
#notification_banner .btn_header {
    background-color: var(--bluecolor);
}
#notification_banner p {
    font-weight: bold;
}

/* ---------------------
main_section1 
--------------------- */
#section1 .container_sec1 {
    height: 100vh;
    position: relative;
}
#section1 .container_sec1 .bgbanner{
    height: 70vh;
    width: 100%;
    object-fit: cover;
}
#section1 .container_sec1 .content_container {
    background-image: linear-gradient(51deg,rgba(23,26,60,.7) 5%,rgba(23,26,60,.3) 95%);
    border-radius: 1.5rem;
    padding: 1.5rem;
    width: 35%;
    position: absolute;
    top: 15%;
    right: 10%;
}

#section1 .container_sec1 .content_container .title {
    font-size: 50px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 0;
}
#section1 .container_sec1 .content_container .sub_title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 0;
}
#main_section #section1 .container_sec1 .content_container .intro_btn,a {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

div :is(.intro_btn_passanger,.driver_btn) {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 48%;
    border: 2px solid #fff;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

#main_section #section1 .container_sec1 .content_container .intro_btn .intro_btn_passanger {
    background-color: #fff;  
}

#main_section #section1 .container_sec1 .content_container .intro_btn .driver_btn {
    background: transparent;
} 
#main_section #section1 .container_sec1 .content_container .intro_btn .intro_btn_passanger a {
    color: #000;
}

#main_section #section1 .container_sec1 .content_container .intro_btn .driver_btn a{
    color: #FFF;
} 

:is(.intro_btn_passanger,.driver_btn) p {
    margin: 0 auto;
}

:is(.intro_btn_passanger,.driver_btn) p:hover {
    color: rgb(175, 173, 173);
}

#main_section #section1 .container_sec1 .banner_phone {
    bottom: -4%;
    height: 92%;
    left: 10%;
    position: absolute;
}

/* ---------------------
section _ services 
--------------------- */
#section_services {
    margin: 0 10%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 100px;
/* //    padding-top: 30px; */
}
#section_services .container_sevices .icon_container {
    border-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
    max-width: 100%;
    overflow: auto;
}
#section_services .container_sevices .icon_container>div {
    min-width: 6rem;
    margin: 0 1rem;
}
#section_services .container_sevices .icon_container .main_icon{
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    max-width: 6rem;
}
#section_services .container_sevices .icon_container .main_icon p {
    text-align: center;
    color: var(--headernavbarcolor);
}
#section_services .container_sevices .icon_container .main_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.45;
}
#section_services .container_sevices .icon_container .main_icon:hover img {
    opacity: 1;
}
#section_services .container_sevices .description_part {
    display: flex;
    width: 100%;
    gap: 10rem;
}
#section_services .container_sevices .description_part .content_container{
    width: 50%;
}
#section_services .container_sevices .description_part .content_container .description {
    color: #333;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px;
    text-align: justify;
}
#section_services .container_sevices .description_part .image_container {
    width: 50%;
}
#section_services .container_sevices .description_part .image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
#section2 .services .icon_container .main_icon img {
    opacity: 0.35;
}
#section2 .services .icon_container .main_icon:hover img {
opacity: 1;
}
#section2 .services .icon_container .main_icon p {
    text-align: center;
    color: var(--matncolor);
} */