#notification_banner {
    background: url(../image/web-banner.jpg);
    position: relative;
    /* top: 6rem; */
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    padding: 0 10%;
}

#notification_banner .tap30_pack {
    background-color: var(--bluecolor);
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    color: #fff;
    display: block;
}
#notification_banner p {
    font-size: 1rem;
    font-weight: 700;
}

#main_content {
    width: 100vw;
    height: 100vh;
    position: relative;
}
#main_content #section1 .tap30_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main_content #section1 .map {
    bottom: -15%;
    left: 10%;
    position: absolute;
}
#main_content #section1 .map img {
    height: 40rem;
    width: 100%;
}
#main_content #section1 .container_mainbtn {
    background-image: linear-gradient(51deg,rgba(23,26,60,.7) 5%,rgba(23,26,60,.3) 95%);
    border-radius: 20px;
    padding: 25px;
    width: 528px;
    position: absolute;
    top: 10%;
    right: 10%; 
}
#main_content #section1 .container_mainbtn .title {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}
#main_content #section1 .container_mainbtn .sub_title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
}
#main_content #section1 .container_mainbtn .intro_btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div :is(.intro_btn_passanger,.driver_btn) {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 48%;
    border: 2px solid #fff;
    margin-bottom: 1rem;
}

#main_content #section1 .container_mainbtn .intro_btn .intro_btn_passanger {
    background-color: #fff;
}

#main_content #section1 .container_mainbtn .intro_btn .driver_btn {
    background: transparent;
} 

:is(.intro_btn_passanger,.driver_btn) .download_btn {
    display: flex;
    align-items: center;
}

#main_content #section1 .container_mainbtn .intro_btn .intro_btn_passanger .download_btn {
    color: #000;
}
#main_content #section1 .container_mainbtn .intro_btn .driver_btn .download_btn {
    color: #fff;
}
:is(.intro_btn_passanger,.driver_btn) p {
    margin: auto;
}
:is(.intro_btn_passanger,.driver_btn) p:hover {
    color: rgb(175, 173, 173);
}